<a href="https://colab.research.google.com/github/AbdullahiMohammed/Hamoye/blob/master/Abdullahi_Mohammed_Ahmed_Hamoye_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [8]:
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
data = pd.read_csv(url)
data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

Queation 1

In [5]:
a = [1,2,3,4,5,6]
b = [13, 21, 34]

a.extend(b)
a

[1, 2, 3, 4, 5, 6, 13, 21, 34]

Question 2

In [7]:
id = np.identity(3)
id

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Question 3

In [20]:
c = data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values().round(2)
c

fuel_type_code_pudl
gas          13.66
other        18.25
waste        19.52
coal         67.42
oil         168.88
nuclear    4955.16
Name: fuel_cost_per_unit_burned, dtype: float64

Qeustion 4

In [21]:
energy_per_unit = data['fuel_mmbtu_per_unit']
energy_per_unit = np.percentile(energy_per_unit, 75).round(2)
energy_per_unit

17.01

Question 4

In [27]:
epu_std = np.std(data['fuel_mmbtu_per_unit'])
epu_std

10.600040781504145

Question 5

In [33]:
fuel_qty_b_skew = data['fuel_qty_burned'].skew()
fuel_qty_b_skew

15.851495469109503

In [32]:
fuel_qty_b_kur = data['fuel_qty_burned'].kurtosis()
fuel_qty_b_kur

651.3694501337732

Question 6

In [44]:
data.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [47]:
d = len(data)
d

29523

In [48]:
e = len(data.isna().sum())
e

11

In [50]:
percentage_of_missing_rows = e/d * 100
percentage_of_missing_rows

0.037259086136232765

Question 8

In [54]:
data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

Question 9

In [62]:
pct_chng = data.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean()
pct_chng

report_year  fuel_type_code_pudl
1994         coal                     31.546467
             gas                      22.161183
             nuclear                3211.033155
             oil                      56.398759
             other                     9.728083
                                       ...
2018         coal                     44.967758
             gas                       9.605542
             nuclear                8663.358050
             oil                     133.214969
             waste                    41.310750
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [63]:
year_1994, year_1998 = pct_chng.loc[[1994, 1998], 'coal']
percentage_chng = ((year_1998 - year_1994)/year_1994)*100
percentage_chng

-12.458551963280119

Question 10

In [65]:
high_avg = data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)[0:1]
high_avg

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64