<a href="https://colab.research.google.com/github/AbdullahiMohammed/Hamoye/blob/master/Stage_Two_Test_Hamoye_Abdullahi_Mohammed_Ahmed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/AbdullahiMohammed/Hamoye/master/energydata_complete.csv')
data.head()

               date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  11/01/2016 17:00          60      30  ...        5.3  13.275433  13.275433
1  11/01/2016 17:10          60      30  ...        5.2  18.606195  18.606195
2  11/01/2016 17:20          50      30  ...        5.1  28.642668  28.642668
3  11/01/2016 17:30          50      40  ...        5.0  45.410390  45.410390
4  11/01/2016 17:40          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [3]:
data.drop(columns=['date', 'lights'], inplace=True)
data.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410390  45.410390
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

# QUESTION 12

In [4]:
# from sklearn.preprocessing import  MinMaxScaler

# scaler = MinMaxScaler()
# normalised_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)
# features = normalised_data['Appliances']
# target = normalised_data['Appliances']
# print(features, target)

In [5]:
# from sklearn.linear_model import LinearRegression
# from sklearn.model_selection import train_test_split

# x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)
# model = LinearRegression()
# x_train = x_train.values.reshape(-1,1)
# y_train = y_train.values.reshape(-1,1)
# x_test = x_test.values.reshape(-1,1)
# y_test = y_test.values.reshape(-1,1)
# model.fit(x_train, y_train)
# prediction = model.predict(x_test)

In [6]:
# from sklearn.metrics import r2_score
# r2 = r2_score(y_test, prediction).round(2)
# print(r2)

# QUESTION 13

In [7]:
from sklearn.preprocessing import  MinMaxScaler

scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)
features = normalised_data.drop(columns=['Appliances'], axis=1)
target = normalised_data['Appliances']

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)
model = LinearRegression()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

In [9]:
from sklearn.metrics import  mean_absolute_error
mae = mean_absolute_error(y_test,prediction).round(2)
print(mae)

0.05

# QUESTION 14

In [10]:
import numpy as np
rss = np.sum(np.square(y_test - prediction)).round(2)
print(rss)

45.35

# QUESTION 15

In [11]:
from sklearn.metrics import mean_squared_error
mse = np.sqrt(mean_squared_error(y_test, prediction)).round(3)
print(mse)

0.088

# QUESTION 16

In [12]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, prediction).round(2)
print(r2)

0.15

# QUESTION 17

In [13]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [14]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [15]:
def get_weights_data(model, feats, col_name):
  weights = pd.Series(model.coef_, feats.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_data(model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_data(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_data(lasso_reg, x_train, 'Lasso_Weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on= 'Features')

In [27]:
final_weights['Linear_Model_Weight'].min()

-0.45666206641041596

In [28]:
final_weights['Linear_Model_Weight'].max()

0.5535164310819529

# QUESTION 18

In [19]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
ridge_pred = ridge_reg.predict(x_test)

In [20]:
from sklearn.metrics import mean_squared_error
mse = np.sqrt(mean_squared_error(y_test, prediction)).round(3)
print(mse)

0.088

# QUESTION 19

In [21]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
lasso_pred = lasso_reg.predict(x_test)

In [22]:

lasso_weights_df = get_weights_data(lasso_reg, x_train, 'Lasso_Weight')
lasso_weights_df

       Features  Lasso_Weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [30]:
np.count_nonzero(lasso_weights_df["Lasso_Weight"])

4

# QUESTION 20

In [23]:
from sklearn.metrics import mean_squared_error
mse = np.sqrt(mean_squared_error(y_test, lasso_pred)).round(3)
print(mse)

0.094